.nav-link{
    color: #004aad !important;
    font-weight: 600 !important;
    font-size: 22px;
}

h1 {
    color: #004aad !important;
    font-weight: 600 !important;
}

.flag {
    width: 150px;
    height: 100px;
}

.market-area {
    width: 100%;
    margin-top: 24px;
}