.nav-link{
    font-weight: 600 !important;
    font-size: 22px;
}

h1 {
    color: #004aad !important;
    font-weight: 600 !important;
}

.flag {
    width: 150px;
    height: 100px;
}

.market-area {
    width: 100%;
    margin-top: 24px;
}

.bg-blue, .navbar-blue {
    background-color: #004aad !important;
}


.headline-social {
    height: 350px !important;
    width: 100%;
  }
  
  .headline-social img {
    margin-top: 40px;
  }
  